@media (min-width: 1919px) {

	
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1269px) {	  
.header-right-link {
    margin-left: 10px;
}      
.feature-text {
    margin-top: 0px;
}   
.feature-text h3 {
    font-size: 28px;
    line-height: 36px;
}  
.blog-content {
    padding: 30px 20px 40px 20px;
}    
.service-content h4 {
    font-size: 20px;
}    
.slide-area .title2 {
    font-size: 58px;
    line-height: 60px;
}    
.right-text {
    margin-left: 0px;
}
.left-text {
    margin-right: 0px;
}
.about-text {
    margin-top: 0px;
}  
.single-symtoms {
    padding: 30px 15px;
}    
.symtoms-content h4 {
    font-size: 20px;
}
.all-prevention {
    padding: 30px 0px;
}    
.pre-text h4 {
    font-size: 22px;
}   
.slide-area-2 .title2 {
    font-size: 44px;
    line-height: 50px;
}  
.blog-search-option input {
    width: 75%;
}    
.header-right-link {
    width: 150px;
}
.about-area-3 .support-all {
    padding: 30px 20px 5px 40px;
}    
.team-content {
    top: 60%;
}    
.feature-area-2 .feature-text {
    margin-top: 30px;
}    
.feature-area-2 .feature-images {
    margin-right: 0px;
}    
    
    
    
    
    
}




/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.logo a {
    padding: 17px 0;
}
.header-area.stick .logo a {
    padding: 12px 0;
}
.header-right-link {
    width: 105px;
    margin-left: 10px;
    padding: 25px 0px;
}
.header-area.stick .header-right-link {
     padding: 22px 0px;
}
.slide-area .title2 {
    font-size: 44px;
    line-height: 50px;
    max-width: 510px;
}
.layer-2 p {
    font-size: 13px;
    line-height: 26px;
    max-width: 400px;
    margin-bottom: 0px;
}
.slide-content p {
    font-size: 17px;
    max-width: 515px;
}
.intro-content {
    margin-top: -120px;
}
.ready-btn {
    padding: 10px 20px;
}
.main-menu ul.navbar-nav li a {
    padding: 30px 8px;
    font-size: 16px;
}
.header-area.stick .main-menu ul.navbar-nav li a {
    padding: 25px 8px;
}
.main-menu > ul.navbar-nav >li >a::before,
.header-area.stick .main-menu > ul.navbar-nav >li >a::before {
    left: 9px;
    bottom: 25px;
}  
.s-menu {
    padding: 10px 10px;
    font-size: 16px;
}    
.section-headline h3 {
    font-size: 30px;
    line-height: 38px;
}              
.footer-head p {
    font-size: 14px;
}    
.footer-list li a {
    font-size: 14px;
}       
.right-side {
    padding-left: 0px;
}
.blog-search-option input {
    width: 75%;
}    
.recent-single-post .pst-content {
    padding-left: 0px;
}
.recent-single-post .post-img {
    display: none;
}
.single-how {
    padding: 40px 15px;
}    
.right-text {
    margin-left: 0px;
}
.left-text {
    margin-right: 0px;
}
.about-text {
    margin-top: 0px;
}
.about-text h3 {
    font-size: 25px;
    line-height: 36px;
}   
 .symtoms-content h4 {
    font-size: 20px;
}   
.single-symtoms {
    padding: 30px 10px;
}    
.all-prevention {
    padding: 30px 0px;
}    
.single-prevention {
    padding: 30px 10px;
}   
.pre-text h4 {
    line-height: 30px;
}
.fun_text .counter {
    font-size: 30px;
}
.fun_text {
    padding: 30px 7px;
}    
.footer-content.logo-footer {
    margin-right: 0px;
}    
.suscribe-input {
    width: 100%;
}    
.suscribe-input button {
    font-size: 15px;
}    
.slide-img {
    width: 320px;
}    
.slide-area-2 .title2 {
    font-size: 33px;
    line-height: 42px;
}    
.welcome-area-2 .top-image {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
} 
.welcome-area-2 .top-services {
    padding: 30px 15px;
}   
.welcome-area-2 .top-content h4 {
    font-size: 25px;
} 
.left-faq {
    padding-right: 20px;
}
.right-faq {
    padding-left: 20px;
}
.contact-icon {
    padding: 30px 9px 30px;
}    
.feature-area-2 .feature-images {
    margin-right: 0px;
}    
.feature-area-2 .feature-text {
    margin-top: 0px;
}    
.slide-area-3 .slide-content p {
    font-size: 16px;
    max-width: 480px;
}    
.about-area-3 .about-content {
    display: block;
    width: 550px;
    height: 550px;
    text-align: center;
    margin: 0 auto;
}   
.about-area-3 .support-all {
    margin-top: 40px;
}    
.feature-area-2 .feature-text h3 {
    font-size: 23px;
    line-height: 32px;
}    
.footer-list {
    width: 100%;
    float: none;
}    
.breadcrumb h3{
    font-size: 34px;
    line-height: 42px;
}    
	
	
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.logo {
    height: inherit;
    left: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    z-index: 999999;
    max-width: 130px;
}
.logo a,
.header-two .logo a{
    padding: 0px;
}
.intro-area .bg-wrapper {
    float: none;
    width: 100%;
    height: 100%;
    min-height: 600px;
}
.bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 660px;
    object-fit: cover;
}
.intro-content {
    margin-top: -210px;
}
.slide-area .title2 {
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 15px;
}
.layer-2 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}
.slide-content {
    margin-top: 50px;
}
.slide-area .video-content {
    margin-left: 15px;
} 
.ready-btn {
    font-size: 17px;
    width: 124px;
}
.slide-content .video-content a span {
    font-size: 15px;
}
.top-image {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
}
.well-services.first-item, .well-services.thired-item {
    position: relative;
    top: 0px;
}    
.well-services {
    margin-bottom: 40px;
}
.how-to-area {
    padding: 100px 0px 70px;
} 
.single-how.first-item, .single-how.thired-item {
    top: 0px;
}
.single-how {
    margin-bottom: 30px;
}
.section-headline h3 {
    font-size: 32px;
    line-height: 40px;
}
.feature-text h3 {
    font-size: 25px;
    line-height: 36px;
}           
.footer-head h4 {
    margin-bottom: 15px;
}    
.footer-content {
    margin-bottom: 40px;
    overflow: hidden;
}
.last-content{
    margin-bottom: 0px;
}    
.blog-content {
    padding: 30px 20px 40px 20px;
}
.blog-meta span {
    font-size: 13px;
    padding-right: 5px;
}          
.right-side {
    padding-left: 0px;
    margin-top: 40px
}    
blockquote::before {
    left: 10px;
    font-size: 24px;
}    
blockquote {
    padding: 20px 15px 40px 50px;
}    
.related-post-list .recent-single-post {
    width: 100%;
    float: none;
    padding: 0px 0px 30px 0px;
} 
.related-post-list .recent-single-post:last-child {
    padding: 0px 0px 0px 0px;
}
.comments-list ul li {
    margin-bottom: 15px;
}
.threaded-comments {
    margin-left: 20px;
}    
.map-area {
    margin-bottom: 50px;
}     
.right-text {
    margin-left: 0px;
}
.left-text {
    margin-right: 0px;
}
.about-text {
    margin-top: 30px;
}
.about-text h3 {
    font-size: 25px;
    line-height: 36px;
}
.prevention-text h3 {
    font-size: 28px;
    line-height: 38px;
}    
.all-prevention {
    top: -100px;
    padding: 30px 0px;
    margin-left: 0px;
    margin-right: 0px;
}    
.single-prevention {
    padding: 30px 10px;
}   
.pre-img {
    float: left;
    width: 50px;
    height: 50px;
}    
.pre-text {
    padding-left: 65px;
}    
.pre-text h4 {
    font-size: 20px;
}    
.prevention-content h3 {
    font-size: 26px;
}    
.counter-image {
    position: relative;
    margin-bottom: 40px;
}   
.footer-content.logo-footer {
    margin-right: 0px;
}
.suscribe-input {
    width: 100%;
}    
.suscribe-input button {
    font-size: 16px;
}    
.left-faq {
    padding-right: 0px;
}
.right-faq {
    padding-left: 0px;
}    
.high-text {
    font-size: 120px;
    line-height: 150px;
}    
.blog-details .blog-content {
    padding: 30px 15px 15px;
}    
.blog-content a h4 {
    font-size: 21px;
}
.footer-list li a {
    font-size: 15px;
}
.top-text {
    font-size: 11px;
}    
.color-top {
    padding: 2px 5px;
    margin-right: 3px;
}    
.slide-area-3 .title2 {
    font-size: 24px;
    line-height: 36px;
}
.ready-btn {
    margin-top: 10px;
}    
.about-area-3 .support-all{
    margin-top: 30px;
    padding: 30px 5px 20px 15px;
}    
.about-area-3 .support-content h4 {
    font-size: 20px;
}
.team-content {
    top: 60%;
}    
.single-member:hover .team-content {
    top: 22%;
}    
.feature-area-2 .feature-images {
    margin-right: 0px;
}    
.feature-area-2 .feature-text {
    margin-top: 30px;
}    
    
    
    
    
    
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.digital-services {
    width: 50%;
    float: left;
}  
    
    
    
    
    
    
    
    
}
 
