.bg-dark-color {
    .product-content, a, .category span {
        background: #fff;
        color: #1A1364 !important;
    }

    .product-img {
        //
    }
}

.counters {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;

    * {
        color: #444 !important;
    }
}

.header-right-link {
    width: unset;
}

.justify-content-around {
    display: flex !important;
    justify-content: space-around !important;
}

.product-img {

    border: solid 1px;
    height: 270px;

    img {
        height: 50% !important;

        width: 50% !important;
        position: absolute;
        top: calc(50% - 25%);
        left: calc(50% - 25%);
    }

}

.sale-text {
    left: unset;
}

.slide-area {

    padding-top: calc(80px + 10px);

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
        font-weight: 200 !important;
    }

    .title2 {
        max-width: unset;
    }

}

.slide-content {
    margin-top: unset;
}

.team-content {
    top: 70%;

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
    }
}

header {
    height: 80px;
}

body {
    height: 550px !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        height: 600px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        height: 630px !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        height: 580px !important;
    }
}

@media (min-width: 1270px) {
    body {
        height: 650px !important;
    }
}
