.about-text li {
    padding: 10px 0px 10px 45px;

    a {
        padding: unset !important;
    }
}

.about-area-3 .support-all {
    background: #000;
}

.add-cart a:hover {
    background: #f92626 none repeat scroll 0 0;
    color: #fff;
}

.bg-dark-color {
    background: #000;

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
    }
}

.bg-dark-color-2 {
    background: #000;

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
    }
}

.footer-area-bottom {
    background: #000 none repeat scroll 0 0;
}

.footer-1 {
    background: #000;
}

.how-to-area-2 .single-how {
    background: #000;
}

.how-to-area-3 .single-how {
    background: #000;
}

.product-content {
    background: #000;
}

.single-member {
    background: #000;

    .team-img::after {
        background: rgba(0, 0, 0, 0.95) none repeat scroll 0 0;
    }
}

.single-symtoms {
    background: #000;
}

.slide-area, .slide-area-3 {
    background: unset;
}

.slide-area-3::after {
    background: rgba(0, 0, 0, .85) none repeat scroll 0 0;
}

.suscribe-input input {
    background: #000;
}

.team-content {
    background: rgba(0, 0, 0, 0.95) none repeat scroll 0 0;
}

.bg-dark-color {
    .product-content, .product-content a, .category span {
        background: #fff;
        color: #000 !important;
    }

    .product-img {
        //
    }
}

.cite-source {
    margin-top: 2em;

    &.text-right::after {
        content: "\00A0 \2014";
    }

    &:not(.text-right)::before {
        content: "\2014 \00A0";
    }
}

.counters {

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
    }

    * {
        color: #444 !important;
    }
}

.header-right-link {
    width: unset;
}

.justify-content-around {
    display: flex !important;
    justify-content: space-around !important;
}

.mt-3 {
    margin-top: 3em;
}

.product-img {

    border: solid 1px;
    height: 270px;

    img {
        height: 50% !important;

        width: 50% !important;
        position: absolute;
        top: calc(50% - 25%);
        left: calc(50% - 25%);
    }

}

.s-menu {
    text-transform: unset;
}

.sale-text {
    left: unset;
}

.slide-area {

    padding-top: calc(80px + 10px);

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
        font-weight: 200 !important;
    }

    .title2 {
        max-width: unset;
    }

}

.slide-content {
    margin-top: unset;
}

.team-content {
    top: 70%;

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
    }
}

header {
    height: 80px;
}

body {
    min-height: 550px !important;
}

/* Only Small devices (≤ 767px) */
@media (max-width: 767px) {
    .slide-area, .slide-area-3 {
        height: unset;
    }
}

/* Small devices (tablets, 768px) to Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        height: 600px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        height: 630px !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        height: 580px !important;
    }
}

@media (min-width: 1270px) {
    body {
        height: 650px !important;
    }
}
